Documentation
NestSDK/.idea
NestSDK/Pods
NestSDK/Podfile.lock
NestSDK/NestSDK.xcworkspace
NestSDKDemo/.idea
NestSDKDemo/Pods
NestSDKDemo/Podfile.lock
NestSDKDemo/NestSDKDemo.xcworkspace
NestSDKDemoSwift/.idea
NestSDKDemoSwift/Pods
NestSDKDemoSwift/Podfile.lock
NestSDKDemoSwift/NestSDKDemoSwift.xcworkspace
NestSDKDemoAdvanced/.idea
NestSDKDemoAdvanced/Pods
NestSDKDemoAdvanced/Podfile.lock
NestSDKDemoAdvanced/NestSDKDemoAdvanced.xcworkspace

.DS_Store

## Build generated
build/
DerivedData/

## Various settings
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/

## Other
*.moved-aside
*.xccheckout
*.xcscmblueprint